#title {
  background-color: #26211b;
  display: flex;
}
body {
  background-color: white;
  /* #312e2b !important;*/
}
h1 {
  margin-left: 15px;
}
@media only screen and (max-width: 1700px) {
  #main-box {
    margin-left: 100px !important;
  }
}
#king-icon{
  height: 100px;
  width: 100px;
}
#invite {
  font-size: 200%;
  color: rgb(186, 186, 185);
  margin-left: 1cm;
}
#invite-friend {
  position: relative;
  right: 0cm;
  top: 0.5cm;
}
#link {
  font-size: 70%;
  border: 3px solid transparent;
  position: relative;
  right: -13cm;
  top: -1.4cm;
}
#main-box {
  border: 3px solid transparent;
  margin-top: 100px;
  margin-left: 700px;
  height: 600px;
  width: 700px;
  background-color: #26211b;
  opacity: 0.9;
  border-radius: 30px;
  min-width: 100px;
}
#multiplayer {
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  width: 600px;
  height: 85px;
  background-color: #b58863;
  border: 1px solid transparent;
  border-radius: 30px;
  font-weight: 700;
  font-size: 300%;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: normal;
  transition: all 0.8s ease 0s;
}
#computer {
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  width: 600px;
  height: 85px;
  background-color: rgb(65, 62, 60);
  border: 1px solid transparent;
  border-radius: 30px;
  font-weight: 700;
  font-size: 300%;
  color: rgb(186, 186, 185);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: normal;
  transition: all 0.8s ease 0s;
}
#computer:hover {
  background-color: #504f4f;
}
#multiplayer:hover {
  background-color: #bb804f;
}
#text2-mp {
  font-size: 1.35rem;
  margin-bottom: 5px;
}
#text2-pc {
  font-size: 1.35rem;
  margin-bottom: 5px;
}
#home-link {
  color: gray;
  all: initial;
  width: 130px;
  font-size: 150%;
  text-decoration: none;
  border: 2px solid transparent;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 3px;
  font-family: Arial, Helvetica, sans-serif;
}
#login-link {
  color: gray !important;
  all: initial;
  width: 100px;
  font-size: 163%;
  font-weight: 550;
  text-decoration: none;
  border: 2px solid transparent;
  padding-top: 20px;
  padding-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
#logout-link {
  color: gray !important;
  all: initial;
  width: 122px;
  font-size: 163%;
  font-weight: 550;
  text-decoration: none;
  border: 2px solid transparent;
  padding-top: 20px;
  padding-left: 23px;
  font-family: Arial, Helvetica, sans-serif;
}
#title-link {
  text-decoration: none;
  border: 2px solid transparent;
  padding-right: 20px;
  padding-top: 5px;
}
#home-link:hover,
#title-link:hover,
#login-link:hover,
#logout-link:hover {
  background-color: #504f4f;
}

#home {
  color: gray;
  text-align: center;
  font-weight: 550;
}
#playf {
  border-radius: 30px;
  background-color: rgb(65, 62, 60);
  border: 1px solid transparent;
  transition: all 0.8s ease 0s;
  width: 300px;
  position: relative;
  right: -14cm;
  top: -1.3cm;
  color: rgb(186, 186, 185);
}
#playr {
  border-radius: 30px;
  background-color: rgb(65, 62, 60);
  margin-left: 10px;
  border: 1px solid transparent;
  transition: all 0.8s ease 0s;
  width: 300px;
  font-size: 200%;
  color: rgb(186, 186, 185);
  position: absolute;
  top: 4cm;
}
#playf:hover,
#playr:hover,
#register:hover {
  background-color: #504f4f;
}
#searching {
  margin-left: 1cm;
  font-size: 200%;
  position: absolute;
  color: rgb(186, 186, 185);
  top: 4cm;
}

#chessworld {
  font-weight: 800;
  color: gray;
  text-align: center;
  margin-left: 15px !important;
  margin-top: 10px !important;
  display: inherit;
}
#settings-icon {
  position: absolute;
  right: 0.5cm;
  top: 0.3cm;
}
#register {
  padding-top: 20px;
  padding-left: 26px;
}
