#settings-box {
  border: 2px solid black;
  width: 1400px;
  height: 800px;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  border: transparent;
}
#account-title {
  margin-top: 10px;
  color: gray;
}
#username {
  margin-left: 20px;
  color: gray;
}
